In [1]:
#UNDERSTANDING HOW SKLEARN DATA SPLITING WORKS

In [2]:
#import required library
import pandas as pd #for data processing and reading

In [3]:
#train
df=pd.read_csv('ausraindata.csv')
#test
test=pd.read_csv('ausraindata.csv')

In [4]:
y=df["RainTomorrow"]

In [5]:
#import sklearn library for spliting
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test,y_train,y_test=train_test_split(test,y,test_size=0.25)

In [7]:
#25% OF TEST DATASET
X_test

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
39151,2009-12-04,Williamtown,10.6,27.3,0.0,7.4,10.5,S,44.0,NW,...,71.0,1014.2,1014.2,1.0,4.0,23.4,22.7,No,0.0,No
135901,2017-06-05,AliceSprings,2.4,20.4,0.0,NaN,NaN,SSE,41.0,NaN,...,15.0,1026.4,1023.4,2.0,NaN,9.8,19.4,No,0.0,No
28304,2014-03-14,Richmond,16.5,29.2,0.0,3.4,NaN,NE,26.0,NaN,...,42.0,1018.1,1013.6,NaN,NaN,18.8,28.4,No,0.0,No
34267,2013-03-03,SydneyAirport,16.9,26.1,2.0,4.8,6.8,SSE,54.0,SE,...,54.0,1022.0,1020.7,7.0,6.0,22.7,24.2,Yes,1.6,Yes
134597,2013-11-01,AliceSprings,12.2,33.1,0.0,13.8,13.0,E,44.0,E,...,1.0,1019.1,1013.8,0.0,1.0,25.9,32.1,No,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6408,2010-04-16,Cobar,11.8,27.6,0.0,4.4,10.0,NE,30.0,ENE,...,29.0,1023.5,1020.4,1.0,3.0,20.1,26.6,No,0.0,No
123560,2016-09-01,SalmonGums,10.0,15.1,5.4,NaN,NaN,SSW,41.0,SSW,...,57.0,NaN,NaN,NaN,NaN,10.8,13.7,Yes,0.0,No
110980,2014-10-26,Witchcliffe,13.8,19.8,1.8,NaN,NaN,WSW,46.0,SW,...,56.0,1022.2,1022.5,NaN,NaN,16.5,18.4,Yes,0.2,No
38941,2009-05-07,Williamtown,8.7,22.3,0.0,2.8,9.9,WNW,30.0,WNW,...,41.0,1024.1,1020.8,1.0,1.0,14.3,21.4,No,0.4,No
24081,2010-05-06,Penrith,4.9,21.4,1.2,NaN,NaN,WSW,39.0,NaN,...,36.0,NaN,NaN,NaN,NaN,12.3,20.9,Yes,0.0,No

In [8]:
#75% OF Test_TRAIN or remaining test DATASET
X_train

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
698,2010-11-08,Albury,14.7,24.7,2.2,NaN,NaN,NW,31.0,N,...,64.0,1013.8,1014.7,7.0,4.0,19.4,23.4,Yes,0.0,No
41033,2016-06-30,Williamtown,1.7,16.6,0.0,2.2,NaN,NW,28.0,NW,...,58.0,1022.9,1017.3,NaN,7.0,6.9,14.0,No,0.0,No
138148,2014-11-03,Darwin,26.0,35.6,0.0,7.6,10.2,NNW,37.0,NNE,...,52.0,1013.1,1009.5,3.0,6.0,30.3,33.5,No,0.0,No
50417,2016-07-08,Tuggeranong,7.2,11.3,0.0,NaN,NaN,SSE,24.0,SSE,...,80.0,1022.4,1020.4,NaN,NaN,8.5,10.6,No,0.2,No
99829,2017-01-23,MountGambier,18.3,29.8,0.0,NaN,NaN,W,48.0,N,...,72.0,1004.5,1004.7,5.0,8.0,26.1,21.8,No,1.6,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105267,2015-07-16,Woomera,4.7,15.1,0.0,2.2,10.1,SSW,44.0,SSW,...,46.0,1028.0,1026.1,0.0,1.0,8.3,14.7,No,0.0,No
29324,2017-01-03,Richmond,16.6,28.9,0.2,2.2,NaN,SE,46.0,S,...,45.0,1018.7,1017.2,8.0,8.0,21.5,27.7,No,0.0,No
21796,2012-04-24,NorfolkIsland,18.5,22.6,1.2,4.0,8.3,E,46.0,E,...,69.0,1021.6,1019.6,3.0,6.0,21.3,22.2,Yes,0.4,No
48502,2010-12-27,Tuggeranong,14.2,25.1,0.6,NaN,NaN,SW,39.0,SW,...,28.0,1003.6,1002.5,NaN,NaN,16.0,23.9,No,0.0,No
29733,2008-09-24,Sydney,9.7,18.6,2.2,2.4,11.1,NaN,NaN,WNW,...,50.0,1030.3,1028.6,3.0,1.0,16.2,17.5,Yes,0.0,No

In [9]:
y_train

698        No
41033      No
138148     No
50417      No
99829     Yes
         ...
105267     No
29324      No
21796      No
48502      No
29733      No
Name: RainTomorrow, Length: 106644, dtype: object

In [10]:
y_test

39151      No
135901     No
28304      No
34267     Yes
134597     No
         ...
6408       No
123560     No
110980     No
38941      No
24081      No
Name: RainTomorrow, Length: 35549, dtype: object

In [11]:
X_test.shape, X_train.shape, y_test.shape, y_train.shape

((35549, 24), (106644, 24), (35549,), (106644,))

In [12]:
id=X_test["Location"]
id

39151       Williamtown
135901     AliceSprings
28304          Richmond
34267     SydneyAirport
134597     AliceSprings
              ...
6408              Cobar
123560       SalmonGums
110980      Witchcliffe
38941       Williamtown
24081           Penrith
Name: Location, Length: 35549, dtype: object

In [13]:
id.shape

(35549,)

In [14]:
#to get the number of columns
len(test.columns)

24

In [21]:
#to get unique values of a specific column
df['WindGustDir'].unique()

array(['W', 'WNW', 'WSW', 'NE', 'NNW', 'N', 'NNE', 'SW', 'ENE', 'SSE',
       'S', 'NW', 'SE', 'ESE', nan, 'E', 'SSW'], dtype=object)

In [22]:
df.Location.value_counts()

Canberra            3418
Sydney              3337
Perth               3193
Darwin              3192
Hobart              3188
Brisbane            3161
Adelaide            3090
Bendigo             3034
Townsville          3033
AliceSprings        3031
MountGambier        3030
Ballarat            3028
Launceston          3028
Albany              3016
Albury              3011
PerthAirport        3009
MelbourneAirport    3009
Mildura             3007
SydneyAirport       3005
Nuriootpa           3002
Sale                3000
Watsonia            2999
Tuggeranong         2998
Portland            2996
Woomera             2990
Cobar               2988
Cairns              2988
Wollongong          2983
GoldCoast           2980
WaggaWagga          2976
Penrith             2964
NorfolkIsland       2964
Newcastle           2955
SalmonGums          2955
CoffsHarbour        2953
Witchcliffe         2952
Richmond            2951
Dartmoor            2943
NorahHead           2929
BadgerysCreek       2928
MountGinini         2907
Moree               2854
Walpole             2819
PearceRAAF          2762
Williamtown         2553
Melbourne           2435
Nhil                1569
Katherine           1559
Uluru               1521
Name: Location, dtype: int64